@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&family=Jersey+25&family=Lobster&family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

#contentInitMenu
{
    position:fixed;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.initAnimationIn
{
    animation-name: inAnimation;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes inAnimation
{
 from
 {
    opacity: 0%;
    margin-top: -100px;
 }

 to
 {
    opacity: 100%;
    margin-top: 0px;
 }
}


#conteinerInitPag
{
    position: absolute;
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    flex-flow: row wrap ;
    font-family: "Jersey 25", sans-serif;
}

#conteinerInitPagImg
{
    position: relative;
    display: flex;
    height: 100%;
    width: 30%;
    justify-content:center;
    align-items: center;
    background-color: rgb(19, 19, 19);
}

#conteinerInitPagImg div img
{
    height: 100%;
    width:100%;
}

#conteinerInitPagText
{
    position: relative;
    display: flex;
    height: 100%;
    width: 70%;
    justify-content:center;
    align-items: center;
}

#alanTextConteiner
{
    font-size: 95px;
    margin: 0%;
    margin-bottom: -30px;
    padding: 0%;
}

#bienveTextConteiner
{
    font-size:28px; 
    margin-top: 5px; 
    margin-bottom: 120px;
}

#spanDeveloperString
{
    white-space:nowrap;
    overflow: hidden;
    width:var(--witdthSpanDeveloper,63%);
    animation: letterAnimation 3.5s steps(150);
}

#spanDeveloperString::after
{
    position: relative;
    display: flex;
    content: 'EN RUTA DE SER DESARROLLADOR DE APLICACIONES NORMALIZADAS';
    border-right: 3px solid;
    font-size: 25px;
    animation: opacityBorder 0.5s step-end infinite;
}

@keyframes letterAnimation
{
    from
    {
        width:0%;
    }

    to
    {
        width:var(--witdthSpanDeveloper,63%);
    }
}

@keyframes opacityBorder
{
    50%
    {
        border-color: transparent;
    }
}

#buttonInitPag
{
    position: relative;
    display: flex;
    background: rgb(230, 230, 230);
    color: transparent;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15%;
    font-size: 28px;
    text-align: center;
    font-family: "Jersey 25", sans-serif;
    cursor: pointer;
}

#buttonInitPag::after
{
    content: 'EMPECEMOS';
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    height: 100%;
    width: 100%;
    background: rgb(31, 31, 31);
    color: rgb(230, 230, 230);
    margin-top: -20px;
    margin-left: -20px;
    padding: 10px;
    border-radius: 15%;
    transition: 0.5s ease-out;
}

#buttonInitPag:hover::after
{
    color: transparent;
    width: 0%;
    opacity: 0;
}

#buttonInitPag::before
{
    content: 'EMPECEMOS';
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0%;
    opacity: 0%;
    margin-top: -18px;
    margin-left: -20px;
    padding: 10px;
    border-radius: 15%;
    transition: 0.3s ease-in;
}

#buttonInitPag:hover::before
{
    width: 100%;
    color:rgb(31, 31, 31) ;
    opacity: 100%;
}

#divImgInit
{
    position:absolute;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.imgInit
{
    height: 4%;
    width: 2%;
    cursor: pointer;
    user-select: none;
    transition: 0.25s ease-out;
}

.imgInit:hover
{
    height: 5%;
    width: 2.5%;
}



@media screen and (max-width:1642px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:70%;
    }
}

@media screen and (max-width:1496px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:75%;
    }
}

@media screen and (max-width:1404px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:80%;
    }
}

@media screen and (max-width:1324px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:85%;
    }
}

@media screen and (max-width:1262px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:90%;
    }
}

@media screen and (max-width:1202px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:90%;
    }
}

@media screen and (max-width:1198px)
{
    #spanDeveloperString
    {
        --witdthSpanDeveloper:100%;
    }
}

@media screen and (max-width:1044px)
{
    #conteinerInitPag
    {
        display: flex; 
        flex-flow: row wrap;
    }

    #conteinerInitPagImg div
    {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: start;
        align-items: center;
    }

    #conteinerInitPagImg
    {
        height: 12%;
        width: 100%;
    }

    #conteinerInitPagImg div img
    {
        height: 100px;
        width: 100px;
    }

    #conteinerInitPagText
    {
        margin-top: -80px;
        height: 100%; 
        width: 100%;
    }

    #divImgInit
    {
        margin-left: -60px;
    }

    .imgInit
    {
    height: 5%;
    width: 5%;
    }

    .imgInit:hover
    {
    height: 6%;
    width: 6%;
    }

}

@media screen and (max-width:732px)
{

    #conteinerInitPagText
    {
        margin-top: -80px;
        height: 80%; 
        width: 85%;
        margin-left:35px;
    }

    #alanTextConteiner
    {
        font-size: 60px;
    }
    
    #bienveTextConteiner
    {
        font-size:18px; 
    }
    
    #spanDeveloperString::after
    {
    width:fit-content;
    font-size:15px; 
    }

    #divImgInit
    {
        margin-left: -50px;
    }

    .imgInit
    {
    height: 5%;
    width: 5%;
    }

    .imgInit:hover
    {
    height: 5%;
    width: 5%;
    }
}

@media screen and (max-width:444px)
{

    #conteinerInitPagText
    {
        margin-top: -80px;
        height: 80%; 
        width: 90%;
        margin-left:10px;
    }

    #alanTextConteiner
    {
        font-size: 60px;
    }
    
    #bienveTextConteiner
    {
        font-size:18px; 
    }
    
    #spanDeveloperString::after
    {
    width:fit-content;
    font-size:10px; 
    }

    #buttonInitPag
    {
        margin-top: -80px;
    }

    #divImgInit
    {
        margin-left: -55px;
    }

    .imgInit
    {
    height: 5%;
    width: 10%;
    }

    .imgInit:hover
    {
    height: 6%;
    width: 6%;
    }
}



