#fourConteiner
{
    display: flex;
    font-family: 'Jersey 25', sans-serif;
    background-color: none;
    height: 66%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-bottom: 80px;
    justify-content: start;
    align-items: start;
    flex-flow: column wrap;
    margin: 0%;
    padding: 0%;
}