
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}  

body
{
    margin: 0%;
    padding: 0%;
    background: rgb(99,99,99); 
    background: radial-gradient(49% 81% at 45% 47%, #E2E2E2E6 0%, #B5B2B2E6 100%),radial-gradient(113% 91% at 17% -2%, #535353E6 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFFFFFE6 1%, #130101E6 99%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header
{
 margin: 0%;
 padding: 0%;
}

header section
{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    align-items: end;
    background-color: rgb(19, 19, 19);
    padding: 2px;
    border-radius: 0% 0% 3% 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#imagenArticle
{
    height: 13%;
    width: 13%;
}

#imagenArticle img
{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

#listArticle
{
    justify-content: end;
    display: flex;
    position: relative;
    height: 87%;
    width: 87%;
    letter-spacing: 0.5px;
}

#listArticle ul
{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0%;
    padding: 0%;
}

.textLetterColorDisable
{
    color: rgb(255, 255, 255);
    --borderTextHeader:rgb(255, 255, 255);
}

.liHeader
{
    color:rgba(255, 255, 255, 0.859);
    cursor:var(--cursorDisable,pointer);
    user-select: none;
}

.liHeader:hover
{
    color: rgb(255, 255, 255);
    --borderTextHeader:rgb(255, 255, 255);
    --viImg:100%;
    --movImg: 0px;
}

.textLetterColor
{
    font-family: "Jacquard 12", system-ui;
    font-size: 160%;
    padding-right: 13px;
    user-select: none;
    cursor: pointer;
    border-color: var(--borderTextHeader,rgb(97, 103, 122));
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    transition: 0.3s ease-in-out;
}

.liHeader div
{
    display: flex;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 1;
    justify-content: center;
    align-items: start;
}

.activeImageSelector
{
    position: relative;
    height:17%;
    user-select: none;
    margin: var(--movImg,-5px);
    opacity: var(--viImg,0%);
    transition: 0.3s ease-in-out;
    cursor:none;
}

.hidden
{
    user-select: none;
    visibility: hidden;
}
.notCursor
{
    --cursorDisable:auto;
}
.spaceLetter
{
 margin-left: 45px;
}

#menuAndroid
{
    display: none; 
    visibility: hidden;
}

#checkMenu
{
    display: none;
    opacity: 0%;
    position:var(--positionCheck,absolute);
    height: var(--heightCheckActive,60px);
    width:var(--widthCheckActive,60px);
    left: 1;
    right: 0;
    margin-top: var(--marginCheckActive,40px);
    margin-right: var(--marginRightCheckActive,8px);
    z-index: 4;
    cursor: pointer;
    
}

#contentDropMenu:has(:checked)
{
    --opasityMenuPanelAdmin:100%;
    --indexMenuPanelAdmin:2;
    --relativePositionControlMenuDrop:0px;
    --displayCheckMenu:flex;
    --heightCheckActive:40px;
    --widthCheckActive:40px;
    --marginCheckActive:35px;
    --marginRightCheckActive:40px;
    --positionCheck:fixed;

}

#activableBottomMenu
{
    display: flex;
    position: relative;
    height: 5%;
    width: 5%;
    transition: 0.5s ease-in-out;
}

#activableBottomMenu:hover
{
    opacity: 80%;
}

#backGroundContentFixed
{
    background-color: rgba(28, 28, 28, 0.631);
    position:fixed;
    height: 100%;
    width: 2000px;
    color: rgba(240, 248, 255, 0);
    transition: 0.2s ease-in-out;
    opacity: var(--opasityMenuPanelAdmin,0%);
    z-index: var(--indexMenuPanelAdmin,-1);
}

#menuPanelAndroid
{
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: start;
    justify-content: end;
    position:absolute;
    z-index: 15;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
    opacity: var(--opasityMenuPanelAdmin,0%);
    z-index: var(--indexMenuPanelAdmin,-1);
}

#controlMenuDrop
{
    position:fixed;
    height: 100%;
    width: 370px;
    right: var(--relativePositionControlMenuDrop,-600px);
    transition: 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);

}

#controlMenuDrop ul
{
    display: flex;
    list-style: none;
    flex-flow: column wrap;
}

#panelControl
{
    display: flex;
    flex-flow: row wrap;
    height: 75px;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    font-family: "Jacquard 12", system-ui;
    color: rgb(255, 255, 255);
    align-items: center;
}

#panelControlImg
{
position: relative; 
height: 100%; 
width: 30%; 
}

#panelControlImg img
{
    height: 100%;
    width: 100%;
}

#panelControlText
{
position: relative; 
height: 100%; 
width: 50%; 
}

#panelControlText p
{
    height: 100%;
    width: 100%;
    font-size: 190%;
    margin-left: 20px;
}

#panelControlCancel
{
    position: relative; 
    height: 46%; 
    width: 10%; 
}

#panelControlCancel img
{
    margin-top: 9px;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in;
}

#panelControlCancel img:hover
{
    opacity: 30%;
}

.panelElable
{
    opacity: 0%;
    z-index: -1;
    animation-name: outAmination ;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    display: none;
    visibility:hidden;
    
}

.animationInicialOut
{
    visibility: hidden;
    display: none;
}


@keyframes outAmination
{
    from
    {
        opacity: 100%;
        z-index: 30;
        visibility:visible;
    }
    to
    {
        opacity: 0%;
        z-index: -50;
        visibility: hidden;
    }
}

@media screen and (max-width:1068px)
{
    #imagenArticle
    {
    position: absolute;
    height: 85px;
    width: 155px;
    margin: 5px;
    padding-bottom: 5px;
    }
    #menuAndroid
    {
    display:flex; 
    visibility: visible;
    justify-content: end;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 28px;
    letter-spacing: 0.5px;
    }

    #menuAndroid img
    {
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    #listArticle ul
    {
        flex-flow: column wrap;
        position: fixed;
        margin-top: 150px;
        z-index: 10;
    }
    #liHeader
    {
        color: rgb(19, 19, 19);
        border: none;
    }

    #textLetterColor
    {
        
    }

    #checkMenu
    {
    display:flex;
    }
}



