@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&family=Jersey+25&family=Lobster&family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

#contentInitMenu
{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    z-index: 10;
}

#conteinerInitPag
{
    display: flex;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    flex-flow: row wrap ;
    font-family: "Jersey 25", sans-serif;
}

#conteinerInitPagImg
{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content:center;
    align-items: center;
    background-color: black;

}

#conteinerInitPagImg div img
{
    height: 100%;
    width:100%;
}

#conteinerInitPagText
{
    display: flex;
    height: 100%;
    width: 70%;
    justify-content:center;
    align-items: center;
}

#spanDeveloperString
{
    white-space:nowrap;
    overflow: hidden;
    width:63%;
    animation: letterAnimation 3.5s steps(150);
}

#spanDeveloperString::after
{
    position: relative;
    display: flex;
    content: 'EN RUTA DE SER DESARROLLADOR DE APLICACIONES NORMALIZADAS';
    border-right: 3px solid;
    font-size: 25px;
    animation: opacityBorder 0.5s step-end infinite;
}

#buttonInitPag
{
    padding: 15px;
    font-size: 30px;
    font-family: "Jersey 25", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5%;
}

@keyframes letterAnimation
{
    from
    {
        width:0%;
    }

    to
    {
        width:63%;
    }
}

@keyframes opacityBorder
{
    50%
    {
        border-color: transparent;
    }
}
